<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<!---C:\Windows\Microsoft.NET\Framework\v4.0.30319>aspnet_regsql.exe -ed -E -d TestSqlDependency -et -t Users-->

<configuration>
  <connectionStrings>
    <add name="TestSqlDependencyConnectionString" providerName="System.Data.SqlClient"          
  connectionString="Data Source=.;Database=TestSqlDependency;integrated security=true;"/>
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <caching>
        <sqlCacheDependency>
          <databases>
            <add name="TestSqlDependency" connectionStringName="TestSqlDependencyConnectionString"/>
          </databases>
        </sqlCacheDependency>  
      
      </caching>
    </system.web>

</configuration>
