<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="OnlineUser" 
             type="OnlineUserModule.OnlineUserConfigurationSection,
              OnlineUserModule"/>
  </configSections>
  <OnlineUser period="3000" dueTime="3000" timeout="5000"></OnlineUser>
  
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />

      <authentication mode="Forms" >
        <forms name=".FormsAuth" timeout="20" path="/"></forms>
      </authentication>
      <authorization>
        <allow users="？"/>
      </authorization>
      
    </system.web>
  <system.webServer>

    <modules>
      <add name="OnlineUser" type="OnlineUserModule.OnlineUserModule,OnlineUserModule"/>
    </modules>
  </system.webServer>

</configuration>
